.container_header {
  display: flex;
  justify-content: center;
}
.searchbar {
  width: 100%;
}

.searchbar_group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.search-bar {
  padding: 15px;
  display: flex;
  width: 90%;
}

.search-bar::placeholder {
  color: #c7bebe;
  font-size: 18px;
}

.input_logo {
  padding: 5px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.fa-chevron-down {
  font-weight: 900;
  display:inline-block;
  color: white;


}

@media screen and (max-width: 375px) {
  flex-direction: column;
}

.btn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2%;
  padding: 1% 0%;
  width: 15%;
  border: none;
  color : white;
}
@media screen and (max-width: 767px) {
  width: 33%;
}

@media screen and (max-width: 375px) {
  width: 100%;
  margin: 2% 0%;
}

.tags {
  display: flex;
  
}

.tags.ingredient-tag,
.btn-primary {
  background-color: #3282f7;
}
.tags.appliance-tag,
.btn-success {
  background-color: #68d9a4;
}
.tags.utensil-tag,
.btn-danger {
  background-color: #ed6454;
}
