@import "./variables_overrides.scss";


main {
  margin-top : 20px;
}

//color '${this-color} 

/////////////////LOGO PETITS PLATS////////////////////
.container_header {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

////////////// SEARCH BAR WITH LOOP //////////////////
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  cursor : pointer;
}

.search-bar {
    padding: 1rem;
    &::placeholder {
      color: #c7bebe;
      font-size: 15px;
    }
}

.tags {
    display: flex;
    .tag {
      font-size: 14px;
      margin: 1rem 0;
      margin-right: 1rem;
      padding: 0.5rem;
      border: none;
    }
  }
  


///////////////// DISPLAY ALERTS CONTAINER //////////////
.alerts {
    padding: 1rem 0;
    .alert {
      display: none;
    }
    .alert.displayed {
     display: flex;
     justify-content: space-between;
  }
}

//////// DROPDOWN TOGGLE BTN ///////////////

.btns-dropdown {
  margin-top : 15px;
  display: flex;
  width: 100%;
  //inferieur a 762
  gap : 6px;
  .fa-chevron-down:hover {
    transform: rotate(180deg) ;
  }
  .btn-dropdown-container {
    width : 19%;
  }
}

#links-ingredients.open, #links-appareils.open, #links-ustensiles.open {
  max-width: auto;
  display : block;
}

#links-ingredients,#links-appareils, #links-ustensiles {
  display : none;
  overflow: hidden;
  margin : 0px;
  padding : 0px;
  transition: height 0.2s ease-in-out;
  width : fit-content;
}



#btn-ingredients, #btn-appareils, #btn-ustensiles {
  border: none;
  outline: none;
  display : flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
} 

ul {
  list-style : none;
  margin: 0;
  grid-template-columns: 160px 160px 160px;
  display: grid;
  padding: 15px;
  column-gap: 10px;
}

li{
  cursor: pointer;
  font-size: 16px;
}
.btn_tags {
background-color: aqua;
span {
  cursor : pointer
}

}


/*rappel en dessous de 767 ecran 
//il faut réduire l'affichage des bouton */

@media (min-width: 767px) {
  .btns-dropdown {
    flex-direction: inline;
    .input-group {
        .form-control {
            font-size: 18px;
        }
    }

      button {
            margin-inline-end: -20px;
        }
        .result {
            font-size: larger;
            line-height: 2;
            // margin-bottom: 10px;
        }
    }
}
@media screen and (max-width : 767px) {
  .btns-dropdown {
    flex-direction: column;
    .btn-dropdown-container{
    width: 100%;
    }
}
}

  /*@media screen and (max-width : 767px) {
   width: 100%;
  }
  @media screen and (max-width : 375px) {
    width: 100%;
    margin: 15px 0%;
   }*/

  ///////////////// DISPLAY CARD RECIPE///////////////////////////
  .receipe {
    display : flex;
  }
  .card {
    margin: 1rem 0;
    height: 450px;
    .card-header {
      height: 40%;
    }
    .card-body {
      height: 60%;
    }
  }
  
  .title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .card-title {
      width: 70%;
      font-weight: 500;
    }
    .recipe_time {
      display: flex;
      align-items: center;
      width: 30%;
      .time {
        font-weight: 500;
        margin: 0 0.5rem;
      }
    }
  }
  
  .ingredients-directions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    .ingredient-list {
      width: 50%;
      .recipe-ingredients{
        font-size: 12px;
      }
    }
    .card-text {
      width: 45%;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  
  

  
