@charset "UTF-8";
main {
  margin-top: 20px;
}

.container_header {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  cursor: pointer;
  padding: 0px;
}

#search-bar {
  padding: 14px;
}

.search-bar {
  padding: 1rem;
}
.search-bar::placeholder {
  color: #c7bebe;
  font-size: 15px;
}

.tags {
  display: flex;
}
.tags .tag {
  font-size: 14px;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 0.5rem;
  border: none;
}

.alerts {
  padding: 1rem 0;
}
.alerts .alert {
  display: none;
}
.alerts .alert.displayed {
  display: flex;
  justify-content: space-between;
}

.btns-dropdown {
  margin-top: 15px;
  display: flex;
  width: 59%;
  gap: 6px;
}
.btns-dropdown .chevron-btn {
  border: none;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  color: white;
  border-radius: 0 5px 5px 0;
}

#input-ingredients::placeholder, #input-appareils::placeholder, #input-ustensiles::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#links-ingredients.open, #links-appareils.open, #links-ustensiles.open {
  max-width: auto;
  display: block;
}

#links-ingredients, #links-appareils, #links-ustensiles {
  display: none;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  transition: height 0.2s ease-in-out;
  width: fit-content;
}

.form-control {
  padding: 0px;
}

#btn-ingredients, #btn-appareils, #btn-ustensiles {
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 9px;
  padding-right: 6px;
}

ul {
  list-style: none;
  margin: 0;
  grid-template-columns: 160px 160px 160px;
  display: grid;
  padding: 15px;
  column-gap: 10px;
}

li {
  cursor: pointer;
  font-size: 16px;
}

.btn_tags span {
  cursor: pointer;
}

/*rappel en dessous de 767 ecran 
//il faut réduire l'affichage des bouton */
@media (min-width: 767px) {
  .btns-dropdown {
    flex-direction: inline;
  }
  .btns-dropdown .input-group .form-control {
    font-size: 18px;
  }
  .btns-dropdown button {
    margin-inline-end: -20px;
  }
  .btns-dropdown .result {
    font-size: larger;
    line-height: 2;
  }
}
@media screen and (max-width: 767px) {
  .btns-dropdown {
    flex-direction: column;
  }
  .btns-dropdown .btn-dropdown-container {
    width: 100%;
  }
}
/*@media screen and (max-width : 767px) {
 width: 100%;
}
@media screen and (max-width : 375px) {
  width: 100%;
  margin: 15px 0%;
 }*/
.receipe {
  display: flex;
}

.card {
  margin: 1rem 0;
  height: 450px;
}
.card .card-header {
  height: 40%;
}
.card .card-body {
  height: 60%;
}

.title-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title-time .card-title {
  width: 70%;
  font-weight: 500;
}
.title-time .recipe_time {
  display: flex;
  align-items: center;
  width: 30%;
}
.title-time .recipe_time .time {
  font-weight: 500;
  margin: 0 0.5rem;
}

.ingredients-directions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}
.ingredients-directions .ingredient-list {
  width: 50%;
}
.ingredients-directions .ingredient-list .recipe-ingredients {
  font-size: 12px;
}
.ingredients-directions .card-text {
  width: 45%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=styles.css.map */
