


//create for all colours 
$theme-colors: (
  "primary":    #3282F7,
  "secondary":  #C7BEBE,
  "success":    #68D9A4,
  "info":       info,
  "warning":    warning,
  "danger":     #ED6454,
  "light":      #E7E7E7,
  "dark":       dark
);


//logo fisheye
.container_header {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

//navigation search bar with loop
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 94%;
}

.search-bar {
    padding: 1rem;
    &::placeholder {
      color: #c7bebe;
      font-size: 15px;
    }
}

//display container alerts
.alerts {
    padding: 1rem 0;
    .alert {
      display: none;
    }
    .alert.displayed {
      display: flex;
      justify-content: space-between;
  }
}

// dropdown display 
// rounded on html (the same of border-radius)
@media (min-width: 768px) {
main .btns-dropdown {
  width: auto;
  flex-direction: column;
  

  .input-group {
    display: flex;
    width: auto;
    .form-control {
      font-size: 18px;
      &::placeholder {
          opacity: .5;
          color: white;
      }
  }
  }

  #hidden {
    width: auto;
}

  #opened {
    width: auto;
    margin-inline: 10px;
    
    input {
        margin-inline-start: -20px;
    }
    button {
        margin-inline-end: -20px;
    }
    .result {
        font-size: larger;
        line-height: 2;
        // margin-bottom: 10px;
    }
  }
}
}

 

/*.btn-group {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;

    
}
  
.btn-group > .btn, .btn-group-vertical > .btn {
    flex: unset;
  }*/

  
.btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 7px 0px;
    width: 16%;
    color:white;
   
   
    @media screen and (max-width : 767px) {
      width: 33%;
    }
    @media screen and (max-width : 375px) {
      width: 100%;
      margin: 15px 0%;
    }
}
  

    
.search-bar {
  &::placeholder {
    color: #C7BEBE;
  }
}
  
.tags {
    display: flex;
    .tag {
      display: block;
      color: white;
      font-size: 14px;
      margin: 1rem 0;
      margin-right: 1rem;
      padding: 0.5rem;
    }
    .ingredient-tag {
      background-color: #3282f7;
    }
    .appliance-tag {
      background-color: #68d9a4;
    }
    .utensil-tag {
      background-color: #ed6454;
    }
}
  
//dropdown open 
  .list-wrapper {
    display: none;
    padding: 1%;
    position: absolute;
    width: 45%;
    z-index: 1;
    @media screen and (max-width : 767px) {
      width: 100%;      
    }
    .list-wrapper.expanded {
      display :  block;
      z-index: 3;
    }
  }

  .input-dropdown {
    border: none;
    width: 90%;
    color: white;
    &::placeholder {
      color: AliceBlue;
    }
  }
  .close-dropdown-tag {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
  }
    
  .dropdown-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  }
  .list-item {
    list-style: none;
    color: white;
    padding: 0.5rem;
  }

  .ingredient-list-wrapper {
    background-color: #3282f7;
    position: absolute;
    left: 0%;
    #input-ingredient {
      background-color: #3282f7;
    }
    .ingredients-list {
      .ingredient {
        &:hover,
        &:active {
          background-color: white;
          color: #3282f7;
        }
      }
    }
  }
  
  .appliance-list-wrapper {
    background-color: #68d9a4;
    position: absolute;
    left: 16.95%;
    @media screen and (max-width : 767px) {
      left: 0%;
    }
    #input-appliance {
      background-color: #68d9a4;
    }
    .appliances-list {
      .appliance {
        &:hover,
        &:active {
          background-color: white;
          color: #68d9a4;
        }
      }
    }
  }
  
  .utensil-list-wrapper {
    background-color: #ed6454;
    position: absolute;
    left: 33.85%;
    @media screen and (max-width : 767px) {
      left: 0%;
    }
    #input-utensil {
      background-color: #ed6454;
    }
    .utensils-list {
      .utensil {
        &:hover,
        &:active {
          background-color: white;
          color: #ed6454;
        }
      }
    }
  }



  // display card
  .card {
    margin: 1rem 0;
    height: 450px;
    .card-header {
      height: 40%;
    }
    .card-body {
      height: 60%;
    }
  }
  
  .title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .card-title {
      width: 70%;
      font-weight: 300;
    }
    .recipe_time {
      display: flex;
      align-items: center;
      width: 30%;
      .time {
        font-weight: 700;
        margin: 0 0.5rem;
      }
    }
  }
  
  .ingredients-directions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    .ingredient-list {
      width: 50%;
      .recipe-ingredients{
        font-size: 12px;
      }
    }
    .card-text {
      width: 45%;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  
  

  
