.btn-primary {
  background-color: #3282F7;
}

.btn-success {
  background-color: #68D9A4;
}

.btn-danger {
  background-color: #ED6454;
}

.bg-light {
  background-color: #E7E7E7;
}

.bg-secondary {
  background-color: #C7BEBE;
}

/*
"info":       $info,
"warning":    $warning,
"dark":       $dark;*/
.container_header {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.search-bar {
  padding: 1rem;
}
.search-bar::placeholder {
  color: #c7bebe;
  font-size: 18px;
}

.alerts {
  padding: 1rem 0;
}
.alerts .alert {
  display: none;
}
.alerts .alert.displayed {
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
@media screen and (max-width: 375px) {
  .btn-group {
    flex-direction: column;
  }
}

.btn-group > .btn, .btn-group-vertical > .btn {
  flex: unset;
}

.btn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 7px 0px;
  width: 15%;
}
@media screen and (max-width: 767px) {
  .btn {
    width: 33%;
  }
}
@media screen and (max-width: 375px) {
  .btn {
    width: 100%;
    margin: 15px 0%;
  }
}

.opened {
  width: 45%;
  transition: linear 0.1s;
}

.search-bar::placeholder {
  color: #C7BEBE;
}

.tags {
  display: flex;
}
.tags .tag {
  display: block;
  color: white;
  font-size: 14px;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 0.5rem;
}
.tags .ingredient-tag {
  background-color: #3282f7;
}
.tags .appliance-tag {
  background-color: #68d9a4;
}
.tags .utensil-tag {
  background-color: #ed6454;
}

.selected {
  display: none;
}

.expanded {
  display: block;
  z-index: 3;
  transition: linear 0.1s;
}

.list-wrapper {
  display: none;
  padding: 1%;
  position: absolute;
  width: 45%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .list-wrapper {
    width: 100%;
  }
}
.list-wrapper .list-wrapper.expanded {
  display: block;
  z-index: 3;
}

.ingredient-list-wrapper {
  background-color: #3282f7;
  position: absolute;
  left: 0%;
}
.ingredient-list-wrapper #input-ingredient {
  background-color: #3282F7;
}

.receipe-container {
  gap: 20px;
  width: 95%;
  margin: 20px auto;
  margin: 1rem 0;
  height: 450px;
}
.receipe-container .card_content {
  height: 60%;
}

.card {
  margin: 1rem 0;
  height: 450px;
  width: 30%;
}

.card .card-header {
  height: 40%;
}

.title-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title-time .card-title {
  width: 70%;
  font-weight: 400;
}
.title-time .recipe_time {
  display: flex;
  align-items: center;
  width: 30%;
}
.title-time .recipe_time .time {
  font-weight: 700;
  margin: 0 0.5rem;
}

.ingredients-directions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
}
.ingredients-directions .ingredient-list {
  width: 55%;
}
.ingredients-directions .ingredient-list .recipe-ingredient-list {
  font-size: 12px;
}
.ingredients-directions .card-text {
  width: 45%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=styles.css.map */
