
//color '${this-color} 

/////////////////LOGO PETITS PLATS////////////////////
.container_header {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

////////////// SEARCH BAR WITH LOOP //////////////////
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 94%;
}

.search-bar {
    padding: 1rem;
    &::placeholder {
      color: #c7bebe;
      font-size: 15px;
    }
}

.search-bar {
  &::placeholder {
    color: #C7BEBE;
  }
}
  
.tags {
    display: flex;
    .tag {
      display: block;
      color: white;
      font-size: 14px;
      margin: 1rem 0;
      margin-right: 1rem;
      padding: 0.5rem;
    }
  }
  


///////////////// DISPLAY ALERTS CONTAINER //////////////
.alerts {
    padding: 1rem 0;
    .alert {
      display: none;
    }
    .alert.displayed {
      display: flex;
      justify-content: space-between;
  }
}

//////// DROPDOWN TOGGLE BTN ///////////////

.input-group {
      display: flex;
      width: auto;
      .form-control {
          font-size: 18px;
          &::placeholder {
              opacity: .5;
              color: white;
          }
      }
    }

.input-group>.form-control, .input-group>.form-select {
     padding: 9px;
  }

  #hidden {
      display: flex;
      width: 100%;
  }

  #opened {
      display: none;
      width: 100%;
      margin-inline: 0;
      input {
          margin-inline-start: 0;
      }
      button {
          margin-inline-end: 0;
      }
      .result {
          font-size: smaller;
          line-height: 1;
      }
  }



@media (min-width: 767px) {
  .btns-dropdown {
    flex-direction: inline;

    .input-group {
        .form-control {
            font-size: 18px;
        }
    }

    #hidden {
        width: auto;
    }

    #opened {
        width: auto;
        margin-inline: 10px;
        input {
            margin-inline-start: -20px;
        }
        button {
            margin-inline-end: -20px;
        }
        .result {
            font-size: larger;
            line-height: 2;
            // margin-bottom: 10px;
        }
    }
}
}

.btn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px 0px;
  width: 16%;
  color:white;
 
 
  @media screen and (max-width : 767px) {
    width: 33%;
  }
  @media screen and (max-width : 375px) {
    width: 100%;
    margin: 15px 0%;
  }
}

  ///////////////// DISPLAY CARD RECIPE///////////////////////////
  .card {
    margin: 1rem 0;
    height: 450px;
    .card-header {
      height: 40%;
    }
    .card-body {
      height: 60%;
    }
  }
  
  .title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .card-title {
      width: 70%;
      font-weight: 300;
    }
    .recipe_time {
      display: flex;
      align-items: center;
      width: 30%;
      .time {
        font-weight: 700;
        margin: 0 0.5rem;
      }
    }
  }
  
  .ingredients-directions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    .ingredient-list {
      width: 50%;
      .recipe-ingredients{
        font-size: 12px;
      }
    }
    .card-text {
      width: 45%;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  
  

  
