$success: #20c997;
$color-primary: #e7e7e7;
$color-ingredients: #3282f7;
$color-appareil: #20c997;
$color-ustensiles: #ed6454;
$color-thumbnail: #c7bebe;
$borderRed: 1px solid red;
$borderBlue: 1px solid blue;
$borderGreen: 1px solid green;
$borderBlack: 1px solid black;