$headings-font-family: "Times New Roman", Times, serif;

/*$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;*/
// scss-docs-start theme-colors-map

  $primary: #3282F7;
  $secondary: #C7BEBE;
  $success: #68D9A4;
  $info: $info;
  $warning: $warning;
  $danger: #ED6454;
  $light: #E7E7E7;
  $dark: $dark;
// scss-docs-end theme-colors-map
// npm install --save bootstrap and select 

